### Les annonces de Renault Zoé en Île-de-France sur lacentrale.fr
On cherche les véhicules les plus intéressants par rapport à leur argus

On utilise selenium pour tromper les traceurs du site

In [127]:
# coding: utf-8
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import json

In [133]:
chromedriver = "/Applications/chromedriver"
driver = webdriver.Chrome(chromedriver)

prix = []
modele = []
annee = []
kilometrage = []
page = []

url = "https://www.lacentrale.fr/listing?makesModelsCommercialNames=RENAULT%3AZOE&options=&page={}&regions=FR-IDF"

for i in range(1, 15):
    driver.get(url.format(i))
    
    results = driver.find_elements_by_class_name('fieldPrice')
    prix.extend(map(lambda x: x.text, results))

    results = driver.find_elements_by_class_name('version')
    modele.extend(map(lambda x: x.text, results))
    
    results = driver.find_elements_by_class_name('fieldYear')
    annee.extend(map(lambda x: x.text, results))
    
    results = driver.find_elements_by_class_name('fieldMileage')
    kilometrage.extend(map(lambda x: x.text, results))
    
    page.extend([i for j in range(len(results))])
    
driver.close()

In [134]:
df = pd.DataFrame()
df["Prix"] = prix
df["Modèle"] = modele
df["Année"] = annee
df["Kilométrage"] = kilometrage
df["Page"] = page

df["Prix"] = pd.to_numeric(df["Prix"].str.replace('[^\d]', ''))
df["Kilométrage"] = df["Kilométrage"].str.replace('[^\d]', '')

print(df.iloc[:, 0:5])

        Prix                            Modèle Année Kilométrage  Page
0        NaN             R90 INTENS GAMME 2017  2017        7828     1
1        NaN                            INTENS  2014       17807     1
2     6990.0                 ZEN CHARGE RAPIDE  2014       46500     1
3     9200.0                          Q90 LIFE  2015       16461     1
4     9300.0          Q90 INTENS CHARGE RAPIDE  2015       34402     1
5    10700.0             Q90 ZEN CHARGE RAPIDE  2015       15153     1
6     8980.0            Q90 LIFE CHARGE RAPIDE  2014       21540     1
7     9100.0                              LIFE  2014       26664     1
8     9400.0                          Q90 LIFE  2015       20660     1
9     9200.0            Q90 LIFE CHARGE RAPIDE  2014       33086     1
10    8900.0            Q90 LIFE CHARGE RAPIDE  2015       14543     1
11    8490.0            Q90 LIFE CHARGE RAPIDE  2015       23802     1
12    7090.0                 ZEN CHARGE RAPIDE  2014       35246     1
13    7190.0                 ZEN CHARGE RAPIDE  2014       25407     1
14    7190.0                 ZEN CHARGE RAPIDE  2014       39990     1
15    8290.0                        Q90 INTENS  2015       71609     1
16    6990.0                 ZEN CHARGE RAPIDE  2014       37633     2
17    9100.0            Q90 LIFE CHARGE RAPIDE  2014        9090     2
18    7690.0                          Q90 LIFE  2014       44865     2
19    9400.0                           Q90 ZEN  2015       22945     2
20    7190.0                LIFE CHARGE RAPIDE  2014       34764     2
21    8900.0             Q90 ZEN CHARGE RAPIDE  2013       31200     2
22    6990.0                 ZEN CHARGE RAPIDE  2014       39699     2
23    9200.0                          Q90 LIFE  2015       14051     2
24    7190.0                               ZEN  2015       46363     2
25    7990.0            Q90 LIFE CHARGE RAPIDE  2014       22654     2
26    8990.0                          Q90 LIFE  2015       10614     2
27    6990.0                 ZEN CHARGE RAPIDE  2014       44674     2
28    6990.0                 ZEN CHARGE RAPIDE  2014       47620     2
29    9200.0                          Q90 LIFE  2015       15699     2
..       ...                               ...   ...         ...   ...
194   9300.0          Q90 INTENS CHARGE RAPIDE  2015       37272    13
195   8400.0                          Q90 LIFE  2015       32600    13
196   9890.0  LIFE CHARGE RAPIDE GAMME 2017 5P  2014       34713    13
197   9900.0                        Q90 INTENS  2015       15619    13
198   9990.0      Q90 ZEN CHARGE RAPIDE TYPE 2  2015       15000    13
199  15490.0                 R90 INTENS TYPE 2  2017         100    13
200   9100.0                               ZEN  2015       33574    13
201   9600.0          Q90 INTENS CHARGE RAPIDE  2015       14416    13
202  11990.0                   R90 LIFE TYPE 2  2017         500    13
203   9100.0          Q90 INTENS CHARGE RAPIDE  2014       32233    13
204   8900.0                          Q90 LIFE  2014       15774    13
205   8200.0                          Q90 LIFE  2014       46160    13
206  17990.0                    (2) R90 INTENS  2018        2500    13
207  15590.0                          R75 LIFE  2018         150    13
208  10700.0                R90 ZEN GAMME 2017  2016       10099    14
209  10480.0            Q90 LIFE CHARGE RAPIDE  2015        9790    14
210  12900.0                    R90 ZEN TYPE 2  2016         100    14
211   8200.0                          Q90 LIFE  2015       40164    14
212  20400.0                   R90 EDITION ONE  2018        5000    14
213   9480.0                          Q90 LIFE  2014       17620    14
214   7990.0             Q90 ZEN CHARGE RAPIDE  2013       54366    14
215  19990.0                           R90 ZEN  2018        5000    14
216  17500.0                 R90 INTENS TYPE 2  2017        3500    14
217  13390.0                 R90 INTENS TYPE 2  2017        2000    14
218   8700.0            Q90 LIFE CHARGE RAPIDE  2015       39242    14
219  19000.0                           R90 ZEN  2018        3000    14
220  10990.0                          Q90 LIFE  2015        5722    14
221  20890.0                        R90 INTENS  2018         100    14
222  17790.0                        R90 INTENS  2018         150    14
223  15490.0                          R75 LIFE  2018        1500    14

[224 rows x 5 columns]

In [135]:
url_calcul = "https://www.lacentrale.fr/get_co_prox.php?km={}&zipcode=75014&year={}"

def get_argus(row):
    driver.get(url_calcul.format(row["Kilométrage"], row["Année"]))
    pre = driver.find_element_by_tag_name("pre").text
    data = json.loads(pre)
    return data["cote_perso"]

On approxime les argus de tous les modèles de Zoé à la Zoé Q90 Intens Charge Rapide Type 2 et on ne garde comme paramètres que le kilométrage et le millésime.

In [136]:
driver = webdriver.Chrome(chromedriver)
url_argus = "https://www.lacentrale.fr/cote-auto-renault-zoe-q90+intens+charge+rapide+type+2-2014.html"
driver.get(url_argus)

df["Argus"] = df.apply(get_argus, axis=1)

driver.close()

In [137]:
df["Delta"] = df["Argus"] - df["Prix"]
df.sort_values("Delta", ascending=False).head()

      Prix                  Modèle Année Kilométrage  Page  Argus   Delta
63  5990.0   Q90 ZEN CHARGE RAPIDE  2014       19738     4   8908  2918.0
48  7440.0  Q90 LIFE CHARGE RAPIDE  2015       37449     4   9071  1631.0
13  7190.0       ZEN CHARGE RAPIDE  2014       25407     1   8811  1621.0
16  6990.0       ZEN CHARGE RAPIDE  2014       37633     2   8588  1598.0
12  7090.0       ZEN CHARGE RAPIDE  2014       35246     1   8646  1556.0

    Au 29/10/2018, l'occasion la plus intéressante est la Zoé Q90 Zen Charge Rapide de 2014 de la page 4 des résultats avec un prix de 2918€ en-dessous de l'argus.